﻿<ion-view title="Crear venta">
    <ion-content overflow-scroll="true">
        <form id="crear-venta-form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">CIF farmacia</span>
                    <input type="text" id="addVenta_cif" placeholder="CIF" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre farmacia</span>
                    <input type="text" id="addVenta_nombrefarmacia" placeholder="Farmacia ejemplo" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Direccion</span>
                    <input type="text" id="addVenta_direccion" placeholder="Calle de ejemplo nº4" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" id="addVenta_email" placeholder="ejemplo@gmail.com" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Poblacion</span>
                    <input type="text" id="addVenta_poblacion" placeholder="ej. Madrid" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Codigo postal</span>
                    <input type="number" id="addVenta_codigopostal" placeholder="ej. 20600" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Provincia</span>
                    <input type="text" id="addVenta_provincia" placeholder="ej. Guipuzcoa" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telefono</span>
                    <input type="number" id="addVenta_telefono" placeholder="123456789" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Numero delegado</span>
                    <input type="number" id="addVenta_num_delegado" placeholder="123" >
                </label>
                <label class="item item-input">
                    <span class="input-label">Fecha venta</span>
                    <input type="date" id="addVenta_fechaventa" >
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Producto</span>
                    <select id="addVenta_producto" ></select>
                </label>
                <ion-toggle ng-model="settings.enableFriends">
                    Instalacion
                </ion-toggle>
                <label class="item item-input">
                    <span class="input-label">Notas</span>
                    <textarea  id="addVenta_notas" placeholder="Inserta notas sobre la venta."></textarea>
                </label>
                <div class="row">
                    <button class="button button-positive boton-confirm">
                        Crear venta
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>