<ion-view view-title="Configuracion" ng-controller="AccountCtrl">
    <ion-content overflow-scroll="true" on-swipe-right="goBack()">
        <div class="contenido">
            <div class="row responsive-sm">

                <div class="col">
                    <div class="imagen-perfil">
                    </div>
                </div>
                <div class="col">
                    <div class="info-perfil">
                        <div class="row">
                            <p class="texto-centrado">{{user[0].nom_delegado + " " + user[0].apel1_delegado}}</p>
                        </div>
                        <div class="row">
                            <p class="texto-centrado">{{user[0].usu_delegado}}</p>
                        </div>
                        <br />
                        <div class="row">
                            <button class="button button-block boton-confirm button-assertive">
                                Desconectarse
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nuevo Password</span>
                <input type="password" id="newPassword" placeholder="Password">
            </label>
            <div class="row">
                <button class="button button-positive boton-confirm">
                    Cambiar password
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
