<ion-view view-title="Instalaciones" ng-controller="InstalacionesCtrl">
    <ion-content class="padding" overflow-scroll="true" on-swipe-right="goBack()" on-swipe-left="goForward()">
        <ion-list>
            <div class="list card">
                <div class="item item-divider">
                    <p>Instalaciones en proceso</p>
                </div>
                <ion-item class="item" ng-repeat="item in ventasInstalandose" href="#/tab/instalaciones/{{item.id_venta}}">
                    <div class="row">
                        <div class="col-90">
                            <p>{{item.nom_farmacia}}</p>
                            <p>{{item.fec_venta}}</p>
                        </div>
                        <div class="col col-10"><span class="estado-venta-circulo"></span></div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
