<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-pane>
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <!-- Dashboard Tab -->
        <ion-tab title="INSTALACIONES" href="#/tab/instalaciones">
            <ion-nav-view name="tab-instalaciones" animation="slide-left-right"></ion-nav-view>
        </ion-tab>

        <!-- Chats Tab -->
        <ion-tab title="VENTAS" href="#/tab/ventas">
            <ion-nav-view name="tab-ventas" animation="slide-left-right"></ion-nav-view>
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="CONFIGURACION" href="#/tab/account">
            <ion-nav-view name="tab-account" animation="slide-left-right"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-pane>