<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive slide-left-right">
    <!-- Dashboard Tab -->
    <ion-tab title="Instalaciones" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/instalaciones">
        <ion-nav-view name="tab-instalaciones"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Ventas" icon-off="ion-social-usd-outline" icon-on="ion-social-usd" href="#/tab/ventas">
        <ion-nav-view name="tab-ventas"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Configuracion" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
