/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic.scss";

.platform-android {
    .cabecera {
        @extend .bar-positive;
    }

    .icon-navicon:before {
        content: "android";
    }

    .boton-confirm {
        margin: auto;
    }

    .nueva-venta {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #387ef5;
        position: absolute;
        top: 3%;
        right: 3%;
        box-shadow: rgba(0,0,0,0.3) 0 10px 20px 5px;
        z-index: 100;
    }
}

.platform-ios {
    .cabecera {
        @extend .bar-stable;
    }

    .icon-navicon:before {
        content: "ios";
    }

    .boton-confirm {
        @extend .button-outline;
        margin: auto;
    }


    .nueva-venta {
        right: 3%;
        position: absolute;
        color: #007EFF;
        z-index: inherit;
    }

    .icon-nueva-venta {
        color: #007EFF;
        z-index: 100000000000000000000000;
    }

    .ios-color {
        color: #007EFF;
    }

    .back-text {
        color: #007EFF !important;
    }
}

//Platform common
.login-screen {
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.formulario-login {
    margin: auto;
    width: 80vw;
    height: 80vh;
    top: 30vh;
    transition: all linear .2s;
}

.logos-login {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.overflow-scroll {
    overflow-y: auto;
}

.item {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
}

ion-nav-view {
    background-color: #eee;
}

.imagen-perfil {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: blue;
    margin: auto;
}

.texto-centrado {
    margin: auto;
}

.fecha-small {
    text-align: right;
    vertical-align: bottom;
    font-size: 9px !important;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card {
    box-shadow: none;
}

.icon-center {
    width: 50%;
    margin: 0 auto;
    color: white;
    position: relative;
}

.button-container {
    position: absolute;
    z-index: 10;
    width: auto;
    height: auto;
}

.estado-venta-circulo {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: red;
    display:inline-block;
}
