﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv=Content-Security-Policy content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;connect-src 'self' http://medicaldispenser.cinfa.com; script-src 'self' http://medicaldispenser.cinfa.com localhost:8100">
    <title></title>

    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet"> -->

    <script src="js/platformOverrides.js"></script>
    <!-- ionic/angularjs js -->
    <script src="js/jquery-2.2.3.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="starter" ng-controller="globalController" >
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-{{ platform_theme }}" >
        <ion-nav-back-button class="button-clear ">
            <i class="ion-{{platform_name}}-arrow-back ios-color"></i>

        </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
    <script id="login.html" type="text/ng-template">
        <div class="modal login-screen">
            <div class="list formulario-login">
                <div class="row"><img class="logos-login" src="img/logos.png" /></div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nombre de usuario</span>
                    <input type="text" placeholder="Nombre de usuario">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="Contraseña">
                </label>
                <button ng-click="closeLogin()" class="button button-block boton-confirm button-positive">
                    Login
                </button>
            </div>
        </div>
    </script>
</body>
</html>
